<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= "Vicinity Deals - #{ @promotion.title }" %></title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <style type="text/css">
        /*!
        * Start Bootstrap - Full Width Pics HTML Template (http://startbootstrap.com)
        * Code licensed under the Apache License v2.0.
        * For details, see http://www.apache.org/licenses/LICENSE-2.0.
        */
        body {
        margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
        .image-bg-fluid-height,
        .image-bg-fixed-height {
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
        .image-bg-fluid-height {
        background: url("https://maps.googleapis.com/maps/api/staticmap?center=<%= ERB::Util.url_encode(@promotion.customer.address) %>&zoom=14&size=3000x900&markers=color:red%7Clabel:S%7C<%= ERB::Util.url_encode(@promotion.customer.address) %>") no-repeat center center scroll;
        padding: 150px 0;
        }
        .img-center {
        /*margin: 0 auto;*/
        width: 100px;
        height: 100px;
        position: fixed;
        right: 20px;
        top: 280px;
        }
        section {
        padding: 75px 0;
        }
        .section-heading {
        margin: 20px 0;
        font-size: 4em;
        }
        .section-lead {
        margin: 20px 0;
        }
        .section-paragraph {
        margin: 7px 0;
        }
        footer {
        margin: 50px 0;
        }
        @media(max-width:768px) {
        section {
        padding-top: 25px;
        padding-bottom: 25px;
        }
        .section-heading {
        font-size: 2em;
        }
        }
        </style>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Vicinity Deals</a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <!-- Content Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <div class="image-bg-fluid-height">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h1 class="section-heading"><%= @promotion.title %></h1>
                        <p class="lead section-lead"><%= @promotion.description %></p>
                        <p class="section-paragraph">Rating: <%= (@promotion.rating || 0.0).round(2) %> - <%= @promotion.rates %> Reviews</p>
                        <p class="section-paragraph">Poster: <%= @promotion.customer.name %></p>
                        <p class="section-paragraph">Catagory: <%= @promotion.catagory.name %></p>
                        <hr>
                        <p class="section-paragraph"><a href="tel:<%= @promotion.customer.phone %>"><%= @promotion.customer.phone %></a></p>
                        <p class="section-paragraph"><a href="mailto:<%= @promotion.customer.email %>"><%= @promotion.customer.email %></a></p>
                        <p class="section-paragraph"><a href="https://maps.google.com/?q=<%= @promotion.customer.address %>"><%= @promotion.customer.address %></a></p>
                    </div>
                </div>
            </div>
        </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Vicinity Deals 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>