<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>you have a reported promotion</h3>
    <p>
      Hi, Administrator
    </p>
    <p>
    <h4>Promotion:</h4>
    <br>
    <div>title: <%= @promotion.title %></div>
    <div>description: <%= @promotion.description %></div>
    <div>start at: <%= @promotion.start_at.strftime('%d.%m.%y %H:%M') %></div>
    <div>expire at: <%= @promotion.expire_at.strftime('%d.%m.%y %H:%M') %></div>
    </p>

    <p>
    <h4>Reason:</h4>
    <br>
    <div><%= @reason %></div>
    </p>

  <p>
    <a href="<%= @reject_link %>">click here to block the promotion</a>
  </p>
</body>
</html>