<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>new user created</span></h3>
    <p><span style="color: blue"><%= @user.name  %></span> has been created <br>
    </p>
    <p>
      <div>name: <%= @user.name %></div>
      <div>email: <%= @user.email %></div>
      <div>phone: <%= @user.phone %></div>
      <div>address: <%= @user.address %></div>
      <div>description: <%= @user.description %></div>
    </p> 
    </body>
</html>